<h2>TODAY, 12.07.2020</h2>
<form class="journal-container" action="#">
  <h2>Rating:</h2>
  <div class="rating__star-box">
    <img
      class="rating__star"
      src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
      alt=""
    />
    <img
      class="rating__star"
      src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
      alt=""
    />
    <img
      class="rating__star"
      src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
      alt=""
    />
    <img
      class="rating__star"
      src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
      alt=""
    />
    <img
      class="rating__star"
      src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
      alt=""
    />
  </div>

  <h2>Comprehension:</h2>
  <div class="rating__comprehension-box">
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
    <span class="rating__comprehension"></span>
  </div>

  <label for="journal__motto"><h2>Motto:</h2></label>
  <input class="journal__motto-input" id="journal__motto" type="text" />

  <label for="journal__notes"><h2>Notes:</h2></label>
  <textarea
    class="journal__notes-input"
    id="journal__notes"
    type="text"
  ></textarea>
</form>
