.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--grey-shadow);
  padding: 11px 29px;
}

.navbar__icon {
  display: grid;
  filter: invert(57%) sepia(10%) saturate(450%) hue-rotate(173deg)
    brightness(91%) contrast(89%);
}

.navbar__icon--current {
  filter: invert(13%) sepia(91%) saturate(800%) hue-rotate(176deg)
    brightness(97%) contrast(91%);
}
