<footer class="footer">
  <nav class="navbar">
    <a href="#"
      ><img
        class="navbar__icon navbar__icon--current"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/DashboardIcon.svg"
        alt="Dashboard"
    /></a>
    <a href="#"
      ><img
        class="navbar__icon"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/BuddyIcon.svg"
        alt="Companion"
    /></a>
    <a href="#"
      ><img
        class="navbar__icon"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/TeamIcon.svg"
        alt="Teams"
    /></a>
    <a href="#"
      ><img
        class="navbar__icon"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/EnergyIcon.svg"
        alt="Energy"
    /></a>
    <a href="#"
      ><img
        class="navbar__icon"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/JournalIcon.svg"
        alt="Journal"
    /></a>
  </nav>
</footer>
