<main>
  <section class="teams-container">
    <section class="teams-container__name">name 1</section>
    <section class="teams-container__name">name 2</section>
    <section class="teams-container__name">name 3</section>
    <section class="teams-container__name">name 4</section>
    <section class="teams-container__name">name 5</section>
  </section>

  <br />

  <section class="teams-container">
    <section class="teams-container__name">
      name 1
      <img
        class="teams-container__plus"
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Plus.svg"
        alt="and"
      />
    </section>
    <section class="teams-container__name">name 2</section>
  </section>
</main>
