.teams-container {
  display: grid;
  border: 1px solid var(--grey);
  border-radius: 6px;
  overflow: hidden;
}

.teams-container__name {
  border-bottom: 1px solid var(--grey);
  padding: 18px 5px;
  text-align: center;
  position: relative;
}

.teams-container__name:last-child {
  border: none;
}

.teams-container__plus {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 52%);
}
