<section class="user-rating-container">
  <h2 class="s16--dark--uppercase">Yesterday</h2>
  <div class="margin-user-rating-container">
    <h3 class="tiny-heading">Rating:</h3>
    <div class="user-rating">
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Star.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Star.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Star.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Star Copy 7.svg"
        alt=""
      />
    </div>
  </div>
  <div class="margin-user-rating-container">
    <h3 class="tiny-heading">Comprehension:</h3>
    <div class="user-comprehension">
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 3.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 14.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 14.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 14.svg"
        alt=""
      />
      <img
        src="../material/nfstudentsapp_assets_2020-07-16_v1/Rectangle Copy 14.svg"
        alt=""
      />
    </div>
  </div>
  <div class="margin-user-rating-container">
    <h3 class="tiny-heading">Motto:</h3>
    <span class="user-motto">"Thats life in the city"</span>
  </div>
  <div class="margin-user-rating-container">
    <h3 class="tiny-heading">Notes:</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quae
      dolor debitis unde? Exercitationem voluptatibus quidem aut iusto debitis
      provident repudiandae, ut harum ducimus quisquam laudantium magnam.
      Blanditiis, voluptatum voluptas!
    </p>
  </div>
</section>
