.s16--light {
  font-size: 16px;
  color: var(--midblue);
  font-weight: 600;
  margin-bottom: 14px;
}

.s16--dark {
  font-size: 16px;
  color: var(--darkblue);
  font-weight: 600;
  margin-bottom: 14px;
}

.s16--dark--uppercase {
  font-size: 16px;
  color: var(--darkblue);
  font-weight: 600;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.tiny-heading {
  font-size: 12px;
  color: var(--midblue);
  font-weight: 400;
  margin: 0;
  line-height: 1.143;
}
