:root {
  --darkblue: #193251;
  --midblue: #7589a2;
  --grey: #e0e4e8;
  --lightgrey: #f8f8f8;
  --darkorgange: #ff5a36;
  --midorgange: #ff9c86;
  --lightorgange: #ffbdaf;
  --lighterorgange: #ffded7;

  --grey-shadow: 0 2px 11px #193251;
  --orange-shade: 0 4px 10px #ff5a36;
}

.reg12 {
  font-size: 12px;
  color: var(--grey);
  font-weight: normal;
}

.semi14 {
  font-size: 14px;
  color: var(--darkblue);
  font-weight: 400;
}

.semi16-g {
  font-size: 16px;
  color: var(--grey);
  font-weight: 400;
}

.semi16-b {
  font-size: 16px;
  color: var(--darkblue);
  font-weight: 400;
}

.bold16 {
  font-size: 16px;
  color: var(--darkblue);
  font-weight: bold;
}
